<!DOCTYPE html>
<html>
<head>
    <title>需求分析 | 最懒进化-陈远琪 PHP海绵—www.chenyuanqi.com + Power by cyq</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="http://www.chenyuanqi.com/Template/Default/Style/Images/icon.ico" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
</head>
<body>
    <div class="container">
            <include file='Common:header'/>
        <div class="cgx-txt">
        <h1><i class="fa fa-file-text-o"></i>需求分析
        <span class="sha-add"><a href="{:U('Process/addNeedle')}" title="发布需求"><i class="fa fa-pencil-square-o"></i></a></span></h1>
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='datas' item='v' key='i'>
                    <li>
                        <div class="cgx-sbox-top">
                            <h2 style="background:#63BB47;"><?php echo $i+1; ?></h2>
                            <center>
                            <a href="{:U('Process/showNeedle', array('id' => $v['id']))}"><strong><{$v.program}> 项目需求分析</strong><p>{$v.title}</p></a></center>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                            <if condition="session('id') eq $v['uid']">
                                <span><a href="{:U('Process/editNeedle', array('id' => $v['id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                                <span class="blog-box-ico"><a href="#" onclick='del({$v.id});'><i class="fa fa-trash"></i>删除</a></span>
                            <else/>
                                <span><i class="fa fa-user"></i>{$v.author}</span>
                            </if>
                            <span class="blog-box-ico"><i class="fa fa-eye"></i>{$v.click_num}</span>
                            <span class="blog-box-ico"><i class="fa fa-clock-o"></i>{$v.create_time}</span>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
                    <div class="msg-page">
                        <div class="page">{$page}</div>
                    </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>
<!-- 引入弹框 --> 
<script type='text/javascript' src='__PUBLIC__/js/fDialog/jquery.fDialog.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/js/fDialog/jquery.fLayout.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/js/fDialog/fDialog.plugin.js'></script>
<link rel="stylesheet" href="__PUBLIC__/js/fDialog/css/fDialog.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/js/fDialog/css/animate.min.css" type="text/css" />
<script type="text/javascript">

// 删除提示
function del(obj){
    $.fDialog.alert("确定要删除吗？","question",{
        shade : false,
        animated : 'bounceInLeft', //入场动画效果CSS样式
        removeAnimated : 'bounceOutRight', //退场动画效果CSS样式
        buttons : [{text:'Yes',value:'ok',cls:'success'},{text:'No',value:'no',cls:'gray'}],
        buttonClick : function(v){
            if ('ok' != v) {
                return true;
            } else {
                location.href = "{:U('Process/delNeedle/id/"+obj+"')}";
            }
        }
    });
}
</script>