<!DOCTYPE html>
<html>
<head>
    <title>项目甘特图 | 最懒进化-陈远琪 PHP海绵—www.chenyuanqi.com + Power by cyq</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="http://www.chenyuanqi.com/Template/Default/Style/Images/icon.ico" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>

</body>
</html>
<!--Ext and ux styles -->
<link href="__PUBLIC__/plugins/ext-gantt/ext-min/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
<!--Scheduler styles-->
<link href="__PUBLIC__/plugins/ext-gantt/ext-gantt/resources/css/sch-gantt-all.css" rel="stylesheet" type="text/css" />
<!--Implementation specific styles-->
<link href="__PUBLIC__/plugins/ext-gantt/ext-gantt/examples/basic/basic.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/plugins/ext-gantt/ext-gantt/examples/css/examples.css" rel="stylesheet" type="text/css" />  
<!--Ext lib and UX components-->
<script src="__PUBLIC__/plugins/ext-gantt/ext-min/bootstrap.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/ext-gantt/ext-gantt/gnt-all-debug.js" type="text/javascript"></script>
<!--中文语言包-->
<script src="__PUBLIC__/plugins/ext-gantt/ext-min/locale/ext-lang-zh_CN.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/ext-gantt/ext-gantt/sch-lang-zh_CN.js" type="text/javascript"></script>
<!--Application files-->
<script src="__PUBLIC__/plugins/ext-gantt/ext-gantt/examples/basic/basic.js" type="text/javascript"></script>