<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>
        <foreach name='lookblog' item='v'>日程安排</foreach>
    </title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css" />
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
    <!-- 引入日期控件 -->
    <script src="__PUBLIC__/plugins/laydate/laydate.js"></script>
</head>

<body>
    <div class="container">
        <include file='Common:header' />
        <div id="info"></div>
        <div class="look-blog cgx-txt clearfix">
            <h1 class="center-h1">
                &lt;<span id='itemDetail'>财富天堂项目</span><input type='text'id='item' value='新华财富项目' style="width: 180px;display: none;" />&gt;日程 —— <span id='myNameDetail'>陈远琪</span><input type='text' id='myName' value='陈远琪' style="display: none;" />( {:date('Y-m-d')} )
            </h1>
            <div class="tabl1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" style="line-height:60px;">序号</th>
                            <th rowspan="2" style="line-height:60px;">工作内容</th>
                            <th rowspan="2" style="line-height:60px;">任务执行人</th>
                            <th colspan="3">工作完成情况</th>
                        </tr>
                        <tr>
                            <th>工作进度</th>
                            <th>预计完成时间</th>
                            <th>保留任务</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items|filter:filter|paging:page.index:page.size">
                            <td>1</td>
                            <td>
                                <span id='contentDetail1'>XXX</span><input type='text' id="content1" placeholder='XXX' style="display:none" />
                            </td>
                            <td>陈远琪</td>
                            <td>
                                <span id='percentDetail1'>30</span><input type='number' id="percent1" style="display:none;" value='30' />%</td>
                            <td>
                                <span id='dateDetail1'>{:date('Y-m-d')} 12:00:00</span><input type='text' id="date1" value='{:date('Y-m-d')} 12:00:00' class="laydate-icon" onclick="laydate()" style="width: 180px;display: none;" />
                            </td>
                            <td>
                                <span id='extDetail1'>XXX</span><input type='text' id="ext1" placeholder='XXX' style="display: none;" />
                            </td>
                        </tr>
                        <tr ng-repeat="item in items|filter:filter|paging:page.index:page.size">
                            <td>2</td>
                            <td>
                                <span id='contentDetail2'>XXX</span><input type='text' id="content2" placeholder='XXX' style="display:none" />
                            </td>
                            <td>陈远琪</td>
                            <td>
                                <span id='percentDetail2'>30</span><input type='number' id="percent2" style="display:none;" value='30' />%</td>
                            <td>
                                <span id='dateDetail2'>{:date('Y-m-d')} 15:00:00</span><input type='text' id="date2" value='{:date('Y-m-d')} 12:00:00' class="laydate-icon" onclick="laydate()" style="width: 180px;display: none;" />
                            </td>
                            <td>
                                <span id='extDetail2'>XXX</span><input type='text' id="ext2" placeholder='XXX' style="display: none;" />
                            </td>

                        </tr>
                        <tr ng-repeat="item in items|filter:filter|paging:page.index:page.size" id="aim">
                            <td>3</td>
                            <td>
                                <span id='contentDetail3'>XXX</span><input type='text' id="content3" placeholder='XXX' style="display:none" />
                            </td>
                            <td>陈远琪</td>
                            <td>
                                <span id='percentDetail3'>30</span><input type='number' id="percent3" style="display:none;" value='30' />%</td>
                            <td>
                                <span id='dateDetail3'>{:date('Y-m-d')} 18:00:00</span><input type='text' id="date3" value='{:date('Y-m-d')} 12:00:00' class="laydate-icon" onclick="laydate()" style="width: 180px;display: none;" />
                            </td>
                            <td>
                                <span id='extDetail3'>XXX</span><input type='text' id="ext3" placeholder='XXX' style="display: none;" />
                            </td>

                        </tr>
                        <tr ng-repeat="item in items|filter:filter|paging:page.index:page.size">
                            <td>4</td>
                            <td>
                                <span id='contentDetail4'>XXX</span><input type='text' id="content4" placeholder='XXX' style="display:none" />
                            </td>
                            <td>陈远琪</td>
                            <td>
                                <span id='percentDetail4'>30</span><input type='number' id="percent4" style="display:none;" value='30' />%</td>
                            <td>
                                <span id='dateDetail4'>{:date('Y-m-d')} 19:00:00</span><input type='text' id="date4" value='{:date('Y-m-d')} 12:00:00' class="laydate-icon" onclick="laydate()" style="width: 180px;display: none;" />
                            </td>
                            <td>
                                <span id='extDetail4'>XXX</span><input type='text' id="ext4" placeholder='XXX' style="display: none;" />
                            </td>

                        </tr>
                        <tr ng-repeat="item in items|filter:filter|paging:page.index:page.size" id="aim">
                            <td>5</td>
                            <td>
                                <span id='contentDetail5'>XXX</span><input type='text' id="content5" placeholder='XXX' style="display:none" />
                            </td>
                            <td>陈远琪</td>
                            <td>
                                <span id='percentDetail5'>30</span><input type='number' id="percent5" style="display:none;" value='30' />%</td>
                            <td>
                                <span id='dateDetail5'>{:date('Y-m-d')} 21:00:00</span><input type='text' id="date5" value='{:date('Y-m-d')} 12:00:00' class="laydate-icon" onclick="laydate()" style="width: 180px;display: none;" />
                            </td>
                            <td>
                                <span id='extDetail5'>XXX</span><input type='text' id="ext5" placeholder='XXX' style="display: none;" />
                            </td>

                        </tr>
                </table>
                
                <a href="javascript:;" onclick="editRecord();">进入编辑模式</a> 
                <a href="javascript:;" id="back" onclick="goBack();" style='display: none;'> | 返回查看效果</a>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
</body>

</html>
<!-- 引入弹框 -->
<script type='text/javascript' src='__PUBLIC__/js/fDialog/jquery.fDialog.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/js/fDialog/jquery.fLayout.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/js/fDialog/fDialog.plugin.js'></script>
<link rel="stylesheet" href="__PUBLIC__/js/fDialog/css/fDialog.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/js/fDialog/css/animate.min.css" type="text/css" />
<script type="text/javascript">
    ;!function(){
        laydate.skin('molv');

        laydate({
           elem: '#demo'
        })

    }();
    // 编辑日程
    function editRecord() {
        $("input:hidden").css('display', 'inline');
        $("span:visible").css('display', 'none');
        $('#back').css('display', 'inline');
    }
    // 返回 +
    function goBack() {
        $("input:visible").css('display', 'none');
        $("span:hidden").css('display', 'inline');

        $('#back').css('display', 'none');

        $('#itemDetail').text($('#item').val());
        $('#myNameDetail').text($('#myName').val());

        for (var i = 5; i > 0; --i) {
            $('#contentDetail'+ i).text($('#content' + i).val());
            $('#percentDetail' + i).text($('#percent' + i).val());
            $('#dateDetail' + i).text($('#date' + i).val());
            $('#extDetail' + i).text($('#ext' + i).val());            
        };
    }
</script>